<br>
<hr><br>
<footer class="footer">
	  <div class="container">
        <p class="text-secondary">
		URSUS - 2019<br>
		Mario Varas González <br>
		Javier Esteban Parra Romero <br>
		Juan Pablo Chaves Morales
		</p>
      </div>
	</footer>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>