{{>header}}

<div class="container-fluid">
    <h2>
        Primer Sprint grupal Curso Node JS<br>
        <small>Week 2 - Menejo de archivos</small>
    </h2>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-success" href="/login">Login</a>&nbsp;&nbsp;
            <a class="btn btn-primary" href="/register">Register</a>&nbsp;&nbsp;
            <a class="btn btn-info" href="/courses">Ver cursos</a>
        </div>
    </div>
</div>




{{>footer}}