{{>header}}

<div class="container">
<div class="container-fluid">
    <h2>
        Segundo Sprint Grupal Curso Node JS<br>
        <small>Semana 4 - MongoDB y Mongoose</small>
    </h2>
    <br>
    <br>
    <br>
    <div class="container-fluid btn-group">
        <div class="row">
            <a class="btn btn-success" href="/login">Iniciar Sesión</a>&nbsp;&nbsp;
            <a class="btn btn-primary" href="/register">Registrarse</a>&nbsp;&nbsp;
            <a class="btn btn-info" href="/courses">Ver Cursos</a>
        </div>
    </div>
</div>
</div>



{{>footer}}